

<div class="row">
  <div class="span6 offset3">
    <h1 class="center title">// Edit Project</h1>
    <%= form_for(@project) do |f| %>
    <%= render 'shared/project_error_messages' %>

    <%= f.label :project_name, "Project Name" %>
    <%= f.text_field :project_name %>
    <div id="tasks">
      <div id="task-container">
      <%= f.fields_for :tasks do |task| %>
      
      <%= render 'task_fields', :f => task %>
    
      <% end %>
      </div>

      <%= link_to_add_association 'Add Task', f, :tasks %>

      <%= f.submit "Save changes", class: "btn btn-custom" %>

      <% end %>
    </div>
  </div>
</div>