<!-- Sub-title for the nav -->
<% content_for :title do %>
<span class="hidden-phone">// Interiors Project Directory</span>
<span class="visible-phone">// Projects</span>
<% end %>


<!-- title -->

<div class="center title">
	<h1>// Projects</h1>
</div>

<div class="project-list">

	<% @projects.each do |p| %>

	<div class="projects">
	<h2>/ <%= p.project_name.upcase %> </h2>
	<div class="project-links">
		<i class="icon-calendar"></i>
		<%= link_to 'Weekly', weekly_path(p) %>
		<i class="icon-tags"></i>
		<%= link_to 'Material', "#" %>
		<i class="icon-remove"></i>
		<%= link_to "Delete", project_path(p), method: "delete"%>
	</div>
</div>

<% end %>

</div>



<!-- modal -->

<%= render 'layouts/modal' %>

