<!-- Sub-title for the nav -->
<% content_for :title do %>
<span class="hidden-phone">// Interiors Weekly</span>
<span class="visible-phone">// Weekly</span>
<% end %>

<!-- content -->

<div class="center title span10 offset1">
	<h1 class="hidden-phone">// Interiors Weekly</h1>
	<h1 class="visible-phone">// Weekly</h1>
</div>


<!-- Button to trigger modal -->
<div class="shopgray span10 offset1 module-menu">
	<i class="icon-plus black"></i>
	<a href="#addProjectModal" data-toggle="modal">Add Project</a>
	<%= link_to 'PDF', '#', class: "pull-right" %>
		<i class="icon-print black pull-right" style="margin-right: 5px; margin-left: 25px;"></i>

	
</div>

<!-- Project listing starts here -->


<% @projects.each do |p| %>

<div class="project-list span10 offset1">
	
	<div class="project-title">
		<h2>/ <%= p.project_name.upcase %> 
			<span class="project-links pull-right" >
				<i class="icon-pencil"></i>
				<%= link_to 'Edit', edit_weekly_path(p.id) %>
				<i class="icon-remove"></i>
				<%= link_to "Delete", project_path(p), method: "delete", confirm: "Are you sure?" %>
				
			</span>
		</h2>
		
	</div>

	<% if p.tasks.any? %>
	<div class="task-container">
		<h5>Active Tasks (<%= p.tasks.where(:status => true).count %>)</h5>
		<table class="task-table">
			<tbody>
				<% p.tasks.each do |t| %>
				<% if t.status == true %>
				<tr>
					<td class="task-status">
						<i class="icon-circle shopgreen left"></i> 
					</td>
					<td>
						<%= t.description %>
					</td>
				</tr>
				<% end %>
				<% end %>
			</tbody>
		</table>
		<h5>Inactive Tasks (<%= p.tasks.where(:status => false).count %>)</h5>
		<table class="task-table">
			<tbody>
				<% p.tasks.each do |t| %>
				<% if t.status == false %>
				<tr>
					<td class="task-status">
						<i class="icon-circle-blank left"></i>
					</td>
					<td>
						<%= t.description %>
					</td>
				</tr>
				<% end %>
				<% end %>
			</tbody>
		</table>
	</div>
	<% end %>
</div>
<% end %>





<div class="push"></div>

<!-- modal -->

<%= render 'layouts/modal' %>
