<!-- Sub-title for the nav -->
<% provide(:title, '// Register') %>



<div class="row">
  <div class="span6 offset3">
    <div class="title-static">
    <h1>// Add Contact</h1>
    </div>
    <%= form_for(@contact) do |f| %>
    <%= render 'shared/contact_error_messages' %>

    <%= f.label :mfr, "Manufacturer" %>
    <%= f.text_field :mfr, placeholder:"Manufacturer name" %>
    
    <%= f.label :dist, "Distributor" %>
    <%= f.text_field :dist, placeholder:"Distributor name" %>
    
    <%= f.label :contact, "Contact" %>
    <%= f.text_field :contact, placeholder:"Contact name" %>
    
    <%= f.label :email, "Email" %>
    <%= f.text_field :email, placeholder:"Contact E-mail" %>
    
    <%= f.label :address1, "Address Line 1" %>
    <%= f.text_field :address1, placeholder:"Street Address" %>
    
    <%= f.label :address2, "Address Line 2" %>
    <%= f.text_field :address2, placeholder:"State, Zipcode" %>
    
    <%= f.label :tel, "Telephone Number" %>
    <%= f.text_field :address2, placeholder:"xxx-xxx-xxx" %>

    <%= f.label :fax, "Fax Number" %>
    <%= f.text_field :fax, placeholder:"xxx-xxx-xxx" %>

    <%= f.label :webpage, "Webpage Address" %>
    <%= f.text_field :webpage, placeholder:"http://" %>

    <%= f.label :specialty, "Specialty" %>
    <%= f.text_field :specialty, placeholder:"Furniture, Flooring, etc..." %>

    <%= f.submit "Create Contact", class: "btn btn-large btn-custom btn-offset pull-right" %>

    <% end %>
  </div>
</div>