<!DOCTYPE html>
<html>
<head>
	<title>SHoP // Interior Design Group</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
	<%= render 'layouts/shim' %>
</head>

<body>
	<%= render 'layouts/header' %>

	<div class="wrapper">
		<div class="container-fluid">

			<% flash.each do |key, value| %>
			<div class="alert alert-<%= key %>" >
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				<%= value %>
			</div>
			<% end %>


			<% if current_user %>
			<div class="row-fluid">
				<div class="span3">
					<ul class="nav nav-list">
						<li class="nav-header">Modules</li>
						<li><%= link_to "Home", root_path%></li>
						<li><%= link_to "Interior Weekly", projects_path %></li>
						<li><a href="#">Material DB</a></li>
						<li><a href="#">Contact</a></li>

						<li class="divider"></li>
						<%= yield :menu %>
					</ul>
				</div>
				<div class="span9">
					<%= yield %>
				</div>
			</div>

			<% else %>
			<%= yield %>
			<% end %>


		</div>

	</div>
	<div class="push"></div>
	<div class="footer">
		<div class="container">
			<%= render 'layouts/footer' %>
			<%= debug(params) if Rails.env.development? %>
		</div>
	</div>
</body>
</html>
